/* ABOUT */
  .about_me_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10rem;

}

.about_me_content {
  flex: 1;
  max-width: 500px;  
}
.about_title{
  text-align: right;

}
.about_me_paragrafo{
  font-size: var(--tamanho_28PX);
  color: var(--text-cor);
  text-align: right;
}


.about_me_img {
  position: relative; 
  width: fit-content;
}

.details {
  position: absolute;
  top: -20px;
  left: -46px;
  width: 260px;
  height: 330px;
  background-color: var(--decoration-cor2);
  border-radius: 120px;
  z-index: 1;               
}

.about_me_ft {
  position: relative;
  width: 260px;
  height: auto;
  border-radius: 120px;

  z-index: 2;                
}

/* ABOUT MEDIA */
@media (max-width: 990px) {
  .about_me_section {
    flex-direction: column-reverse;
    gap: 2.4rem;
  }

  .about_me_content .about_title, .about_me_paragrafo{
    text-align: left;
  }
}
