/* HERO */
.hero_section{
  display: flex;
  justify-content: space-around;
  align-items: center;

  min-height: 100vh;
}
.hero_section .hero_section_content{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.paragrafo_hero{
  color: var(--text-cor);
  font-family: "Inter", sans-serif;
  font-size: var(--tamanho_24PX);
  letter-spacing: 3px;
}
.hero_section_icons{
  display: flex;
  gap: 1rem;
}
.hero_section_icons .hero_icons{
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 16px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  /* VIDRO AZUL */
  background: rgba(29, 72, 165, 0.35);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border: 1.5px solid rgba(120, 160, 255, 0.45);

  box-shadow:
    0 8px 25px rgba(49, 72, 120, 0.45),
    inset 0 0 15px rgba(120, 160, 255, 0.25);
}

.hero_section_icons .hero_icons:hover{
  box-shadow: 0px 0px 15px var(--decoration-cor);
  transform: scale(1.1);
}

/* ANIMACAO DE ENTRADA HERO */
@keyframes heroFadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero_section {
    animation: heroFadeUp 1.3s ease forwards;
}


/* HERO MEDIAS */
@media (max-width: 990px) {
 .hero_section_imagem .hero_foto{
  display: none;
 }
  .hero_section {
    justify-content: center;
  }
 .hero_section .hero_section_content{
  align-items: center;
 }
}

  @media (max-width: 600px) {
     .hero_section .hero_section_content{
      align-items: normal;
      gap: .7rem;
 }
 .paragrafo_hero{
  font-size: 16px;
 }
  }
 .hero_section_icons .hero_icons{
  width: 55px;
  height: 55px;
 }