/* PROJECTS */
.project_title{
  text-align: center;
}
.projects_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.project_card {
    width: 450px;

    /* EFEITO VIDRO */
    background: rgba(227, 227, 227, 0.08);
    backdrop-filter: blur(132px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 35px;
    border: 1.5px solid rgba(255, 255, 255, 0.18);

    color: var(--text-cor2);
    overflow: hidden;
    padding-bottom: 25px;
    box-sizing: border-box;

    transition: 0.3s all;
    transform: scale(1);

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.45);
}

.project_card:hover {
    transform: scale(1.03);
    box-shadow: 
        0 12px 40px rgba(49, 72, 120, 0.4),
        inset 0 0 0 1px rgba(255, 255, 255, 0.12);
}

.project_img {
    height: 220px;
    background: var(--decoration-cor2);
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.project_content {
    padding: 25px;
}

.project_content h2 {
    font-size: 3rem;
    margin-bottom: 5px;
    font-family: "Gilda Display", serif;
}

.project_content p {
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.project_content .btn {
    display: inline-block;
    padding: 1rem;
    margin-bottom: 20px;
}

.project_linguagens {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.linguagens {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(6px);

    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
}


/* PROJECTS MEDIA */
@media (max-width: 600px){
  .project_card {
      width: 100%;
      max-width: 330px;      
      border-radius: 28px;
      padding-bottom: 15px;
  }

  .project_img {
      height: 150px;          
  }
  .project_content {
      padding: 15px;           
  }

  .project_content h2{
    font-size: 2rem;
  }
  .project_content p{
    font-size: 1.4rem;
  }
  .project_linguagens{
    gap: 3px;
  }

    .project_content .btn {
      padding: 0.6rem 1rem;    
      font-size: 0.9rem;
      margin-bottom: 12px;
  }
}

