@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
:root {
  --primeira-cor: #0B0B0B;
  --text-cor: #FFFFFF;
  --decoration-cor: #CE9428;
  --decoration-cor2: #FFAE00;


  --tamanho_20PX: 20px;
  --tamanho_24PX: 24px;
  --tamanho_80PX: 80px;
}
body{
  background-color: var(--primeira-cor);
}
section{
  padding: 0 9%;
}
a{
  display: inline-block;
  font-size: var(--tamanho_24PX);
  color: var(--text-cor);
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
.title{
  font-size: var(--tamanho_80PX);
  color: var(--text-cor);
  font-weight: 400;
  font-family: "Italiana", sans-serif;
}  

.btn {
  display: inline-flex;     /* botão não estica */
  justify-content: center;
  align-items: center;
  background-color: var(--decoration-cor);
  padding: 2% 10%;
  border-radius: 50px;
  font-size: var(--tamanho_20PX);
  font-weight: 700;
  cursor: pointer;

  width: fit-content;
}



.header{
  background-color: var(--primeira-cor);
  padding: 2rem;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.6); 
}

.header .header_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9%;
}

.header .header_nav .header_nav_links{
  display: flex;
  gap: 20px;
}
.header .header_nav .header_nav_links a {
  padding: 6px 16px;    
  border-radius: 35px;    
  transition: 0.3s ease;  
}
.header .header_nav .header_nav_links a:hover {
  background-color: var(--decoration-cor);
}
.header_nav_mobile {
  display: none;
}
@media (max-width: 1230px) {
  .header{
    padding: 1.5rem;
  }
  
  a{
    font-size: 18px;
  }

  .header .header_nav .header_nav_links{
  gap: 16px;
}
}

@media (max-width: 1022px){
  a{
    font-size: 15px;
  }
  .header .header_nav .header_nav_links{
  gap: 12px;
}
}


@media (max-width: 900px){
    a{
    font-size: 14px;
  }
  .header .header_nav .header_nav_links{
  gap: 2px;
}
}


@media (max-width: 768px) {
  .header{
    border-radius: 0;
  }

  .header_nav a{
    display: none;
  }

  .header_nav_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0%;
    background-color: var(--primeira-cor);
  }

  .header_nav_button {
    width: 44px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
  }

  .header_nav_button span {
    width: 100%;
    height: 3.5px;
    background-color: var(--text-cor);
    border-radius: 8px;
    transition: 0.35s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  .header_nav_links_mobile {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--primeira-cor);
    padding: 20px 0 30px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    transform: translateY(-350px);
    opacity: 0;
    pointer-events: none;
    transition: 0.45s ease;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.45);
  }

  .header_nav_links_mobile a {
    padding: 10px 18px;
    border-radius: 12px;
    transition: 0.3s ease;
  }

  .header_nav_links_mobile a:hover {
    background-color: var(--decoration-cor);
  }

  .header_nav_links_mobile.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .header_nav_button.open span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  .header_nav_button.open span:nth-child(2) {
    opacity: 0;
  }
  .header_nav_button.open span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
}

.hero_section{
  display: flex;
  justify-content: space-around;
  align-items: center;

  min-height: calc(100vh - 120px);
}
.hero_section .hero_section_content{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.paragrafo_hero{
  color: var(--text-cor);
  font-size: var(--tamanho_24PX);
  letter-spacing: 3px;
}
.hero_section_icons{
  display: flex;
  gap: 1rem;
}
.hero_section_icons .hero_icons{
  background-color: var(--decoration-cor);
  border-radius: 20px;
  padding: .2rem;
  transition: linear .2s;
  transform: scale(1);
}
.hero_section_icons .hero_icons:hover{
  box-shadow: 0px 0px 15px var(--decoration-cor);
  transform: scale(1.1);
}
