@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
:root {
  --primeira-cor: #0B0B0B;
  --text-cor: #FFFFFF;
  --decoration-cor: #CE9428;
  --decoration-cor2: #FFAE00;


  --tamanho_12PX: 12px;
}

a{
  font-size: var(--tamanho_12PX);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none !important;
}
