@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
:root {
  --primeira-cor: #0B0B0B;
  --text-cor: #FFFFFF;
  --decoration-cor2: #4786d2;
  --decoration-cor: #113a77;


  --tamanho_20PX: 20px;
  --tamanho_24PX: 24px;
  --tamanho_28PX: 28px;
  --tamanho_50PX: 50px;
  --tamanho_80PX: 80px;
}
body{
  background-color: var(--primeira-cor);
}
section{
    padding: 0 clamp(16px, 5vw, 40px);
}
.section_global{
    padding: 0 9%;
    padding-top: 12rem;
}
a{
  display: inline-block;
  font-size: var(--tamanho_24PX);
  color: var(--text-cor);
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
.title{
  font-size: 140px;
  color: var(--text-cor);
  font-weight: 400;
  font-family: "Italiana", sans-serif;
}  
.title2{
  font-size: var(--tamanho_80PX);
  color: var(--text-cor);
  font-weight: 400;
  font-family: "Italiana", sans-serif;
  padding-bottom: 3.7rem;
}  

.btn {
  margin-top: 1rem;
  display: block;     
  background-color: var(--decoration-cor);
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: var(--tamanho_20PX);
  font-weight: 700;
  cursor: pointer;

  width: fit-content;

  transform: scale(1);
  transition: .3s linear;
}

.btn:hover{
  transform: scale(108%);
  box-shadow: 12px 1px 10px 2px var(--decoration-cor2);
}


span{
  color: var(--decoration-cor2);
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primeira-cor);
  padding: clamp(12px, 3vw, 24px);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.6);
  
  
  z-index: 1000;
}

.header .header_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 clamp(12px, 5vw, 32px);
}

.header .header_nav .header_nav_links{
  display: flex;
  gap: 20px;
}
.header .header_nav .header_nav_links a {
  padding: 6px 16px;    
  border-radius: 35px;    
  transition: 0.3s ease;  
}
.header .header_nav .header_nav_links a:hover {
  background-color: var(--decoration-cor);
}
.header_nav_mobile {
  display: none;
}
@media (max-width: 1230px) {
  .header{
    padding: 1.5rem;
  }
  
  a{
    font-size: 18px;
  }

  .header .header_nav .header_nav_links{
  gap: 16px;
}
}

@media (max-width: 1022px){
  a{
    font-size: 15px;
  }
  .header .header_nav .header_nav_links{
  gap: 12px;
}
}


@media (max-width: 900px){
    a{
    font-size: 14px;
  }
  .header .header_nav .header_nav_links{
  gap: 2px;
}
}


@media (max-width: 768px) {
  .header{
    border-radius: 0;
  }

  .header_nav a{
    display: none;
  }

  .header_nav_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0%;
    background-color: var(--primeira-cor);
  }

  .header_nav_button {
    width: 44px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
  }

  .header_nav_button span {
    width: 100%;
    height: 3.5px;
    background-color: var(--text-cor);
    border-radius: 8px;
    transition: 0.35s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  .header_nav_links_mobile {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--primeira-cor);
    padding: 20px 0 30px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: 0.45s ease;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.45);
  }

  .header_nav_links_mobile a {
    padding: 10px 18px;
    border-radius: 12px;
    transition: 0.3s ease;
  }

  .header_nav_links_mobile a:hover {
    background-color: var(--decoration-cor);
  }

  .header_nav_links_mobile.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .header_nav_button.open span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  .header_nav_button.open span:nth-child(2) {
    opacity: 0;
  }
  .header_nav_button.open span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  .title2{
    font-size: 4rem;
  }
}

@media (max-width: 960px){
   .title{
    font-size: 100px;
  }

}
/* -------------------------------- */
.hero_section{
  display: flex;
  justify-content: space-around;
  align-items: center;

  min-height: 100vh;
}
.hero_section .hero_section_content{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.paragrafo_hero{
  color: var(--text-cor);
  font-family: "Inter", sans-serif;
  font-size: var(--tamanho_24PX);
  letter-spacing: 3px;
}
.hero_section_icons{
  display: flex;
  gap: 1rem;
}
.hero_section_icons .hero_icons{
  background-color: var(--decoration-cor);
  border-radius: 10px;
  padding: .2rem;
  transition: linear .2s;
  transform: scale(1);

  width: 60px;
  height: 60px;
}
.hero_section_icons .hero_icons:hover{
  box-shadow: 0px 0px 15px var(--decoration-cor);
  transform: scale(1.1);
}

@media (max-width: 990px) {
 .hero_section_imagem .hero_foto{
  display: none;
 }
  .hero_section {
    justify-content: center;
  }
 .hero_section .hero_section_content{
  align-items: center;
 }
}

  @media (max-width: 600px) {
     .hero_section .hero_section_content{
      align-items: normal;
      gap: .7rem;
 }
 .paragrafo_hero{
  font-size: 16px;
 }
  }
 .hero_section_icons .hero_icons{
  width: 55px;
  height: 55px;
 }

  /*----------------------------------------- */

  .about_me_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10rem;

}

.about_me_content {
  flex: 1;
  max-width: 500px;  
}
.about_title{
  text-align: right;

}
.about_me_paragrafo{
  font-size: var(--tamanho_28PX);
  color: var(--text-cor);
  text-align: right;
}


.about_me_img {
  position: relative; 
  width: fit-content;
}

.details {
  position: absolute;
  top: -20px;
  left: -46px;
  width: 260px;
  height: 330px;
  background-color: var(--decoration-cor2);
  border-radius: 120px;
  z-index: 1;               
}

.about_me_ft {
  position: relative;
  width: 260px;
  height: auto;
  border-radius: 120px;

  z-index: 2;                
}

@media (max-width: 990px) {
  .about_me_section {
    flex-direction: column-reverse;
    gap: 2.4rem;
  }

  .about_me_content .about_title, .about_me_paragrafo{
    text-align: left;
  }
}

/* ---------------------------------------- */
  .service_title{
     text-align: center;
     }

.services_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: center;
  align-items: stretch; 
}

.service_card {
  text-align: center;
  border: 4px solid var(--decoration-cor);
  border-radius: 40px;
  padding: 2.5rem 1.8rem;
  color: var(--text-cor);
  background-color: rgb(16, 15, 15);

  width: 100%;
  height: 100%;  

  transform: scale(1);
  transition: .3s linear;
}
.service_card:hover {
  transform: scale(1.0309);
  box-shadow: 8px 0px 20px 1px var(--decoration-cor2);
}

.service_card .titulo_card_service {
  font-size: var(--tamanho_50PX);
  padding-bottom: 1rem;
}

.service_card .paragrafo_card_service {
  font-size: var(--tamanho_24PX);
  line-height: 1.4;
}

@media (max-width: 500px) {
  .service_card {
    padding: 2rem 1.4rem;
    max-width: 300px;
  }

  .service_card .titulo_card_service {
    font-size: var(--tamanho_28PX);
  }

  .service_card .paragrafo_card_service {
    font-size: 16px;
  }
}


/* ------------------------------------------- */

.project_title{
  text-align: center;
}
.projects_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.project_card {
    width: 450px;
    background: #d9d9d9;
    border-radius: 35px;
    border: 3px solid var(--decoration-cor2);
    overflow: hidden;
    padding-bottom: 25px;
    box-sizing: border-box;

    transition: 0.3s all;
    transform: scale(1)
}
.project_card:hover{
    box-shadow: 1px 5px 23px 1px var(--decoration-cor2);

    transform: scale(103%);
}
.project_img {
    height: 220px;
    background: var(--decoration-cor2);
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.project_content {
    padding: 25px;
}

.project_content h2 {
    font-size: 3rem;
    margin-bottom: 5px;
    font-family: "Gilda Display", serif;
}

.project_content p {
    font-size: 1.7rem;
    margin-bottom: 20px;
    color: #000;
}

.project_content .btn {
    display: inline-block;
    padding: 1rem;
    margin-bottom: 20px;
}

.project_linguagens {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.linguagens {
    border: 2px solid var(--decoration-cor2);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
}


@media (max-width: 600px){
  .project_card {
      width: 100%;
      max-width: 330px;      
      border-radius: 28px;
      padding-bottom: 15px;
  }

  .project_img {
      height: 150px;           /* reduz altura */
  }
  .project_content {
      padding: 15px;           /* menos espaço interno */
  }

  .project_content h2{
    font-size: 2rem;
  }
  .project_content p{
    font-size: 1.4rem;
  }
  .project_linguagens{
    gap: 3px;
  }

    .project_content .btn {
      padding: 0.6rem 1rem;    /* botão menor */
      font-size: 0.9rem;
      margin-bottom: 12px;
  }
}


/* -------------------------------------------------------------------------- */

.contact_section h2 {
  text-align: center;
  padding-bottom: 5rem;
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 2rem; 
  
  justify-content: center;
  
  background-color: black;
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 2.5rem; 

  border-radius: 20px;
  border: 2px solid var(--decoration-cor2);
}

.contact_names_form {
  font-size: 2rem;
  color: var(--text-cor);
  margin-bottom: .5rem;
}

.contact_form input, textarea {
  width: 100%;
  padding: 1rem 1.4rem;
  font-size: 1.6rem;

  border: 2px solid rgb(148, 184, 210);
  border-radius: 12px;
  background-color: var(--primeira-cor);

  color: var(--text-cor);
  outline: none;
  transition: .3s;
}

.contact_form input:focus, textarea:focus {
  border-color: var(--decoration-cor);
}

@media (max-width: 600px){
  .contact_form{
  padding: 1rem; 
  }

  .contact_form input, textarea {
  padding: 1rem 1.4rem;
  font-size: 1.4rem;
}
.contact_names_form{
  font-size: 1.3rem;
}

}
