@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
:root {
  --primeira-cor: #0B0B0B;
  --text-cor: #FFFFFF;
  --decoration-cor: #CE9428;
  --decoration-cor2: #FFAE00;


  --tamanho_24PX: 24px;
}
a{
  display: block;
  font-size: var(--tamanho_24PX);
  color: var(--text-cor);
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header{
  background-color: var(--primeira-cor);
  padding: 2rem;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.header .header_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9%;
}

.header .header_nav .header_nav_links{
  display: flex;
  gap: 20px;
}
.header .header_nav .header_nav_links a {
  padding: 6px 16px;    
  border-radius: 35px;    
  transition: 0.3s ease;  
}
.header .header_nav .header_nav_links a:hover {
  background-color: var(--decoration-cor);
}
.header_nav_mobile a{
  display: none;
}
@media (max-width: 1230px) {
  .header{
    padding: 1.5rem;
  }
  
  a{
    font-size: 18px;
  }

  .header .header_nav .header_nav_links{
  gap: 16px;
}
}

@media (max-width: 1022px){
  a{
    font-size: 15px;
  }
  .header .header_nav .header_nav_links{
  gap: 12px;
}
}


@media (max-width: 900px){
    a{
    font-size: 14px;
  }
  .header .header_nav .header_nav_links{
  gap: 2px;
}
}

@media (max-width: 768px){
  .header_nav a{
    display: none;
  }
   .header_nav_mobile{
    display: flex;
    justify-content: space-between;
   }
 .header_nav_logo_mobile a{
  display: block;
 }
.header_nav_links_mobile {
  display: none;
  flex-direction: column;
  gap: 20px;
  background: var(--primeira-cor);
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  top: 80px;
  right: 20px;
  width: 200px;
}


.header_nav_links_mobile.active {
  display: flex;
}


.header_nav_button {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.header_nav_button span {
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 3px;
  transition: 0.3s;
}

.header_nav_button.open span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.header_nav_button.open span:nth-child(2) {
  opacity: 0;
}

.header_nav_button.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

}

