@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
:root {
  --primeira-cor: #0B0B0B;
  --text-cor: #FFFFFF;
  --decoration-cor: #CE9428;
  --decoration-cor2: #FFAE00;


  --tamanho_24PX: 24px;
}
a{
  display: block;
  font-size: var(--tamanho_24PX);
  color: var(--text-cor);
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header{
  background-color: var(--primeira-cor);
  padding: 2rem;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.header .header_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9%;
}

.header .header_nav .header_nav_links{
  display: flex;
  gap: 20px;
}
.header .header_nav .header_nav_links a {
  padding: 6px 16px;    
  border-radius: 35px;    
  transition: 0.3s ease;  
}
.header .header_nav .header_nav_links a:hover {
  background-color: var(--decoration-cor);
}
@media (max-width: 1230px) {
  a{
    font-size: 18px;
  }

  .header .header_nav .header_nav_links{
  gap: 16px;
}
}

@media (max-width: 1022px){
  a{
    font-size: 15px;
  }
  .header .header_nav .header_nav_links{
  gap: 12px;
}
}